<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Moni-Mate{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3">
        <script scr="{% static 'js/script.js' %}" defer></script>
    </head>
    <body>
        <header class="header">
            <h1>Moni-Mate</h1>
            <img class="site-logo" src="{% static 'images/logo.png' %}" alt="Website Logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'expense:dashboard' %}" class="btn btn-glossary">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}" class="btn btn-logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <p>&copy; 2024 Moni-Mate.All rights reserved.</p>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'glossary' %}" class="btn btn-glossary">Glossary</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>