.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #724fff;
}

.asset-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #333;
}

.asset-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.update-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select, button {
    color: #fff;
    background-color: #000;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #333;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.btn-danger {
    text-align: center;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}


